#carInfo {
    margin: 5rem auto;
    font-family: 'Roboto', sans-serif;

    max-width: 1320px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 80% auto;
    grid-template-areas:
        'carPicture carTitle'
        'carPicture carInfo'
        'carPicture buttons';

    .carPicture {
        width: 100%;
        grid-area: carPicture;
    }

    .carTitle {
        grid-area: carTitle;
        text-align: center;
    }

    .carInfo {
        grid-area: carInfo;

        ol {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            grid-template-areas: 
                'motor exterior'
                'safety dimensions';

            #motor {
                grid-area: motor;
            }
            #exterior {
                grid-area: exterior;
            }
            #safety {
                grid-area: safety;
            }
            #dimensions {
                grid-area: dimensions;
            }

            li{
                // width: 500px;
            }
        }
    }

    .buttons {
        margin: auto;
        display: flex;
        gap: 2rem;
        grid-area: buttons;
    }
}